// Variables

$header-size: 2em;
$font-color: #343434;
$content-width: 1200px;
$main-background-color: rgb(237, 243, 255);
$button-bg-color: rgb(86, 115, 163);
$button-font-color: rgb(217, 233, 255);
$stack-font-color: rgb(141, 15, 19);

//Types

@font-face {
  font-family: "Basic";
  src: url("../fonts/Lato-Regular.ttf");
}

@font-face {
  font-family: "Basic Bold";
  src: url("../fonts/Lato-Black.ttf");
}

@font-face {
  font-family: "Basic Italic";
  src: url("../fonts/Lato-Italic.ttf");
}

@font-face {
  font-family: "Basic Italic Bold";
  src: url("../fonts/Lato-BlackItalic.ttf");
}