@import 'base';

//*************************
//***** SHARED STYLES *****
//*************************
body {
  text-align: center;
  font-family: 'Basic';
}

/* Header - Max Gardiner */
.id-header, .resume-header{
  font-family: 'Basic Bold';
  border-bottom: 0.1em solid black;

  h1,h2 {
    margin-top: -10px;
    margin-bottom: -10px;
  }
  h2{
    font-size:1em;
    letter-spacing: .46em;
  }
  h1{
    font-size:2em;
    letter-spacing: .2em;
  }
  #lastname{
    letter-spacing: .165em;
    padding: 0 0 0.5em;
  }
}
.resume-header h2{
  letter-spacing: inherit;
  margin-top: 0px;
  margin-bottom: -2px;;
}

/* Main Menu */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

//*************************
//**** UNSHARED STYLES ****
//*************************
/* Summary Page */
.summary-body{
  margin: 2em 1em 1em 1em;
}

//*************************
//***** Media Queries *****
//*************************
@media screen and (min-width: 666px){
  .summary-body{
    margin: 1em 7em 1em 7em;
  }
}