@import 'base';

//*************************
//***** SHARED STYLES *****
//*************************
body,html {
  text-align: center;
  font-family: 'Basic';
  background-color: $main-background-color;
}

/* Header - Max Gardiner */
.id-header, .resume-header{
  font-family: 'Basic Bold';
  border-bottom: 0.1em solid black;

  h1,h2 {
    margin-top: -10px;
    margin-bottom: -10px;
  }
  h2{
    font-size:1em;
    letter-spacing: .46em;
  }
  h1{
    font-size:2em;
    letter-spacing: .2em;
  }
  #lastname{
    letter-spacing: .165em;
    padding: 0 0 0.5em;
  }
}
.resume-header h2{
  letter-spacing: .46em;
  margin-top: 0px;
  margin-bottom: -2px;;
}

.summary-body{
  margin: 2em 1em 1em 1em;
}

/* Main Menu */
.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

//*************************
//**** UNSHARED STYLES ****
//*************************
/* Summary Page */

.resume-body{
  text-align: justify;
  margin-left: 1em;
  margin-right: 1em;
}
.id-header {
  .summary-header{
    letter-spacing: .02em;
    margin-bottom: 10px;
  }
}

/* Details Page */
.container {
  font-size: 16px;
  line-height: 16px;
  height: 32px;
  overflow: hidden;
}
.show {
  overflow: visible;
  height: auto;
}

.show-more-div {

    display: flex;
    align-items: center;
    justify-content: center;
    color: blue;

  .show-more-button{
    color: $button-font-color;
    background-color: $button-bg-color;
    border-radius: 12px;
    font-size: 12px;
  }
}

//*************************
//***** Media Queries *****
//*************************
@media screen and (min-width: 666px){
  .summary-body{
    margin: 1em 7em 1em 7em;
  }
}