logs/*
!.gitkeep
node_modules/
css/
bower_components/
tmp
.DS_Store
.idea
../full-resume.txt
full-resume.txt
MyResume.pdf
package-lock.json
yarn-error.log
yarn.lock
.sass-cache/6415a96954a3c95e3e979f6e6906a36879131967/_base.scssc
.sass-cache/6415a96954a3c95e3e979f6e6906a36879131967/style.scssc
.sass-cache/7639eaca10e8645d2e61f8b83c713d13c79b322f/_base.scssc
.sass-cache/7639eaca10e8645d2e61f8b83c713d13c79b322f/characterSheetStyle.scssc
.sass-cache/7639eaca10e8645d2e61f8b83c713d13c79b322f/style.scssc
app/MyResume.pdf
app/assets/bower_components
public/app.js
public/index.html
public/MyResume.pdf
public/assets/fonts/Lato-Black.ttf
public/assets/fonts/Lato-BlackItalic.ttf
public/assets/fonts/Lato-Italic.ttf
public/assets/fonts/Lato-Regular.ttf
public/assets/images/favicon.ico
public/components/dcomponent.js
public/components/scomponent.js
public/components/details/details.html
public/components/summary/summary.html
